API_URL='<your-backend-admin-api-host>'
NEXT_PUBLIC_SELF_URL='http://localhost:3000'
BACKEND_ADMIN_API_KEY='<your-backend-admin-api-key>'
SELF_SECRET_KEY='<your-self-secret-key>'

RIZE_ADMIN_API_KEY='<your-rize-admin-api-key>'

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY='<your-clerk-publishable-key>'
CLERK_SECRET_KEY='<your-clerk-secret-key>'

NEXT_PUBLIC_CLERK_SIGN_IN_URL='/signin'
NEXT_PUBLIC_CLERK_SIGN_UP_URL='/signup'

RESEND_API_KEY='<your-resend-api-key>'

ANTHROPIC_API_KEY='<your-anthropic-api-key>'
GOOGLE_GENERATIVE_AI_API_KEY='<your-google-generative-ai-api-key>'

NEXT_PUBLIC_POSTHOG_KEY='<your-posthog-key>'
NEXT_PUBLIC_POSTHOG_HOST='https://us.i.posthog.com'

GHOST_API_KEY='<your-ghost-api-key>'
DISCORD_BOT_TOKEN='<your-discord-bot-token>'

SENTRY_AUTH_TOKEN='<your-sentry-auth-token>'
SENTRY_DSN='<your-sentry-dsn>'

NEXT_PUBLIC_KNOCK_PUBLIC_API_KEY='<your-knock-public-api-key>'
NEXT_PUBLIC_KNOCK_FEED_CHANNEL_ID='<your-knock-feed-channel-id>'

NEXT_PUBLIC_RESUME_EDITOR_TABS_NEW_DESIGN_ENABLED=false

NEXT_PUBLIC_ALGOLIA_APPLICATION_ID='<your-algolia-app-id>'
NEXT_PUBLIC_ALGOLIA_SEARCH_ONLY_API_KEY='<your-algolia-search-only-api-key>'
NEXT_PUBLIC_ALGOLIA_INDEX_NAME='resume'

BASEHUB_TOKEN='<your-basehub-token>'

BRIGHTDATA_TOKEN='<your-brightdata-token>'
BRIGHTDATA_DATASET_ID='<your-brightdata-dataset-id>'